<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab 5</title>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="task">
            <h2>Задание</h2>
            Вывести список отличников (студентов, получивших только отличные оценки), отсортировав его по идентификаторам университетов и курсам.
        </div>
        <div class="real_values">
            <h2>Исходные данные</h2>
            <div class="values">
                <table>
                    <tr>
                        <th>id</th>
                        <th>Фамилия имя</th>
                    </tr>
                    {% for student in all_students %}
                    <tr>
                        <td>{{ student.pk }}</td>
                        <td>{{ student.surname }} {{ student.name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="realization">
            <h2>Результат</h2>
            <div class="marks">
                <table>
                    <tr>
                        <th>id</th>
                        <th>Предмет</th>
                        <th>Студент</th>
                        <th>Оценка</th>
                    </tr>
                    {% for person in result %}
                    <tr>
                        <td>{{ person.pk }}</td>
                        <td>{{ person.subject__name }}</td>
                        <td>{{ person.student__surname }} {{ person.student__name }}</td>
                        <td>{{ person.mark }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
</body>
</html>